
 .navbar-expand-lg{
    background-color: lightgray !important;
}
body{
    background-color: aliceblue ;
}

.navigation .navbar-brand{
    color:white;
    display: inline-block;
    background-color: dodgerblue;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 30px;
}

.navbar-nav{
    position: sticky;
    left: 80% ;
    z-index: 1;
}
.image:hover{
    border-style: solid;
    color: dodgerblue;

}

.summary-pic{
    float: left;
    width: 50%;
}

img{
    width: 100%;
    height: 100%;
}


.left-box{
    background-color: white;
    margin-top: 8%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    border-radius: 30px;

}


.right-box{
    background-color: white;
    margin-top: 11.5%;
    margin-left: 4%;
    padding-left: 3%;
    padding-right: 4%;
    padding-bottom: 8%;
    border-radius: 30px;
} 



.title{
    color:dodgerblue;
    font-weight: bold ;
    text-align: left;
    padding-top: 3%;
    padding-left: 3%;
}


 #comparison{
   margin-top: 5%;
   margin-left: 8%;
   margin-right: 8%;
}

.data-table{
    background-color: white;
    margin-top: 3%;
    margin-bottom: 3%;  
    border-radius: 30px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}


h6{
    color: dodgerblue;
    text-align: center;

}

@media (max-width:990px) {
    .navbar{
        max-height: none; 
        padding: inherit;
    }

    .navbar div{
        margin: inherit; 
        background-color: white; 
    }

    .navbar-expand-lg {
        background-color:dodgerblue!important;
    }

    .navbar-nav{
        position: relative;
        left:0px ;
    }

}






