
 .navbar-expand-lg{
    background-color: white !important;
}
body{
    background-color: lightgray ;
}

.navigation .navbar-brand{
    color:white;
    display: inline-block;
    background-color: cadetblue;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.navbar-nav{
    position: sticky;
    left: 80% ;
    z-index: 1;
}
.image:hover{
    border-style: solid;
    color: cadetblue;

}

.summary-pic{
    float: left;
    width: 50%;
}

img{
    width: 100%;
    height: 100%;
}


.left-box{
    background-color: white;
    margin-top: 8%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}


.right-box{
    background-color: white;
    margin-top: 11.5%;
    margin-left: 4%;
    padding-left: 3%;
    padding-right: 4%;
    padding-bottom: 8%;
    
} 



.title{
    color:cadetblue;
    font-weight: bold ;
    text-align: left;
    padding-top: 3%;
    padding-left: 3%;
}


 .comparison{
   position: absolute;
   margin-top: 5%;
   margin-left: 6%;
   margin-right: 8%;
}

.data-table{
    background-color: white;
     margin-top: 3%;
    margin-bottom: 3%;  
}


h6{
    color: cadetblue;
    text-align: center;

}

@media (max-width:990px) {
    .navbar{
        max-height: none; 
        padding: inherit;
    }

    .navbar div{
        margin: inherit; 
        background-color: white; 
    }

    .navbar-expand-lg {
        background-color:cadetblue!important;
    }

    .navbar-nav{
        position: relative;
        left:0px ;
    }
    

/* 
    ul{
        position: absolute;
        left: 5px;
        z-index: 1;
    } */

    /* .navbar-nav{
        position: absolute;
        left: 5px;
        z-index: 1;
        margin-top:0.95%;
        margin-left: -5px;
        margin-right: -5px;
    }  

    .navbar-nav{
        background-color: rgba(0, 0, 0, 0.6); 
    }    */

  

    

}






